*
{
  margin: 0px;
  font-family: raleway;
}
.web1
{
  background-color: #D4ECDD;
}
.web1a
{
  background-color: #345B63;
}
.bio
{
  padding: 60px;
}
.cloud1
{
  padding-left: 25%;
}
.cloud2
{
  padding-right: 25%;
}
.mountain img
{
  padding-left: 30%;
  padding-right: 30%;
}
.web2, .web3
{
  margin-left: 10%;
  margin-right: 10%;
}
.skill{
  display: flex;
}
.foto
{
  padding: 3%;
  flex:2;
}
.kont
{
  flex:3;
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}
button
{
  padding-left: 30px;
  padding-right: 30px;
  background-color: #345B63;
  color: white;
}
a
{
  color: white;
  text-decoration: none;
}
.navbar
{
    background-color: #345B63;
}
